---
http_interactions:
- request:
    method: get
    uri: https://api.morph.io/openaustralia/aus_mp_contact_details/data.json?query=select%20*%20from%20%22data%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ji96AnIkXWRUbw5ZNVfz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"35a1f21bd9ef2ecaa32d7a5882255049"
    body:
      encoding: UTF-8
      string: |-
        [
        {"house":"senate","aph_id":"2L6","full_name":"Senator Mark Bishop","electorate":"Western Australia","party":"Australian Labor Party","profile_page":"http://www.aph.gov.au/Senators_and_Members/Parliamentarian?MPID=2L6","contact_page":"http://www.aph.gov.au/Senators_and_Members/Contact_Senator_or_Member?MPID=2L6","photo_url":"http://parlinfo.aph.gov.au/parlInfo/download/handbook/allmps/2L6/upload_ref_binary/2L6.jpg","email":"senator.bishop@aph.gov.au","facebook":null,"twitter":null,"website":"http://www.senatormarkbishop.com.au"}
        ,{"house":"senate","aph_id":"YE4","full_name":"Senator the Hon Ronald Boswell","electorate":"Queensland","party":"The Nationals","profile_page":"http://www.aph.gov.au/Senators_and_Members/Parliamentarian?MPID=YE4","contact_page":"http://www.aph.gov.au/Senators_and_Members/Contact_Senator_or_Member?MPID=YE4","photo_url":"http://parlinfo.aph.gov.au/parlInfo/download/handbook/allmps/YE4/upload_ref_binary/YE4.JPG","email":"senator.boswell@aph.gov.au","f[...]
- request:
    method: get
    uri: http://www.abc.net.au/elections/federal/2007/results/electorateindex.htm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.abc.net.au/news/elections
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 Mar 2026 07:21:36 GMT
- request:
    method: get
    uri: https://www.abc.net.au/news/elections
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"zvlz5w8f3p7lae"'
      Edge-Cache-Tag:
      - elections
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+PGh0bWwgbGFuZz0iZW4tQVUiPjxoZWFkPjxtZXRhIGNoYXJTZXQ9InV0Zi04IiBkYXRhLW5leHQtaGVhZD0iIi8+PG1ldGEgbmFtZT0idmlld3BvcnQiIGNvbnRlbnQ9IndpZHRoPWRldmljZS13aWR0aCwgaW5pdGlhbC1zY2FsZT0xLjAsIG1heGltdW0tc2NhbGU9Mi4wIiBkYXRhLW5leHQtaGVhZD0iIi8+PGxpbmsgcmVsPSJwcmVjb25uZWN0IiBocmVmPSJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbSIgZGF0YS1uZXh0LWhlYWQ9IiIvPjxsaW5rIHJlbD0icHJlY29ubmVjdCIgaHJlZj0iaHR0cHM6Ly9[...]
- request:
    method: get
    uri: http://www.abc.net.au/elections/federal/2007/results/senate/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.abc.net.au/news/elections
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 Mar 2026 07:21:37 GMT
[...]
